html, body {
    height: 100%;
    background-color: #6698ff;
    font-family: Arial;


}
p{
    text-indent:50px;
}
#wrapper{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#wrapper>header:nth-of-type(1){
	border-bottom: 2px solid black;
	position: absolute;
}
#wrapper>header:nth-of-type(1)>nav{
	position: relative;
	top: 33px;
}
section{
    width: 75%;
    display: inline-block;
	position: relative;
	top: 200px;
}

article{
    background-color: #e0eafe;
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 15px;
}

.news{
    width: 23%;
    float: right;
    background-color: #e0eafe;
    border: 1px solid black;
	position: relative;
	top: 200px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    padding: 7px 10px;
}
nav{
    float: right;
}
aside ul {
    padding: 0;
    margin-bottom: 0;
}
aside ul li{
    list-style-type: none;
    display: inline-block;
    margin-bottom: 10px;
    padding: 0px 10px;
    font-size: 13px;
}
aside ul li a{
    color: black;
    text-decoration: none !important;
}

nav ul li a{
    color: black;
    text-decoration: none !important;
}

p{
    font-size: 13px;
}

h1{
    padding-bottom: 0;
    margin-bottom: 0;
}

footer{
    width: 100%;
    background-color: #e0eafe;
    border: 1px solid black;
    text-align: center;
	position: relative;
	top: 200px;
}
h2{
    margin-bottom: 0;
}

span{
    text-decoration: none;
    color: white;

}

header h1 a{
    text-decoration: none;
}

@media only screen and (max-width: 960px) {
#wrapper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
}

@media only screen and (max-width: 780px) {
    section {
        width: 100%;
    }

    .news{
        width: 100%;
        float: initial;
        margin-bottom: 15px;
    }

    aside div ul li{
        display: table-cell;
        width: 25%;
        text-align: center;
    }

    aside div ul li {
        padding-bottom: 60px;
    }
}

@media only screen and (max-width: 640px) {
    span {
        display: block;
    }

    nav ul {
        width: 100%;
        padding-left: 0;
    }

        nav ul li {
            width: 70%;
            display: block;
            border-radius: 4px;
        }

    header {
        width: 100%;
    }

    nav {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    header h1 {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    aside div ul li {
        display: table;
        width: 80%;
        padding-bottom: 0px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
	section, footer, .news{
		top: 50px;
	}
	#wrapper>header:nth-of-type(1){
	border-bottom: none;
	position: initial;
}