*{
    margin: 0;
    padding: 0;
    
}
body {
    
}
#bgimg{
    content: url("images/HawaiiBackground.png");
    z-index: 1;
    position: absolute;
    background-color: #0076da;
    background: #fbf8c1;

    background: radial-gradient(circle at top left, #fbf8c1 20%, #0076da 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf8c1', endColorstr='#0076da', GradientType=1 );
    z-index: 2;
}
#gradient{
    background: #fbf8c1;
    background: -moz-radial-gradient(center, ellipse cover, #fbf8c1 0%, #fbf8c1 56%, #0075db 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, , color-stop(0%, #fbf8c1), color-stop(56%, #fbf8c1), color-stop(100%, #0075db));
    background: -webkit-radial-gradient(center, ellipse cover, #fbf8c1 0%, #fbf8c1 56%, #0075db 100%);
    background: -o-radial-gradient(center, ellipse cover, #fbf8c1 0%, #fbf8c1 56%, #0075db 100%);
    background: -ms-radial-gradient(center, ellipse cover, #fbf8c1 0%, #fbf8c1 56%, #0075db 100%);
    background: radial-gradient(ellipse at center, #fbf8c1 0%, #fbf8c1 56%, #0075db 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf8c1', endColorstr='#0075db', GradientType=1 );
    z-index: 3;
    position: absolute;
    margin-top: -20px;
}
#nakov{
    content: url("images/NakovHula.png");
    z-index: 2;
    position: absolute;
    margin-top: 140px;
    margin-left: 400px;
}
#petya{
    content: url("images/PetiaHula.png");
    z-index: 3;
    position: absolute;
    margin-top: 183px;
    margin-left: 175px;
}
#vladoG{
    content: url("images/VladoGHula.png");
    z-index: 2;
    position: absolute;
    margin-top: 217px;
    margin-left: 34px;
}
#vladoK{
    content: url("images/VladoKHula.png");
    z-index: 2;
    position: absolute;
    margin-top: 233px;
    margin-left: 670px;

}
#tedi{
    content: url("images/TediHula.png");
    z-index: 1;
    position: absolute;
    margin-top: 352px;
    margin-left: 253px;
    z-index: 4;
}