*{
    margin: 0px;
}
body{
    font-family: Ariel sans-serif;
    font-size: 20px;
}

#calculator{
    width: 400px;
}
input{
    background-color: #254365;
    width: 380px;
    height: 30px;
    border: none;
    padding-left: 20px;
    color: orange;
    font-size: 15px;
    font-weight: 700;
}


button{
    width: 120px;
    position: fixed;
    margin-left: 140px;
    margin-top: 25px;
    border: 2px solid #4e4e4e;
    background-color: white;
    color: #4e4e4e;
    height: 50px;
    font-weight: 900;
    cursor: pointer;
}

p{
    background-color: #254365;
    width: 360px;
    height: 30px;
    border: none;
    margin-top: 100px;
    font-size: 30px;
    font-weight: 700;
    color: orange;
    padding: 11px 20px;
    padding-top: 2px;
}