table{
    border: 1px solid black;
    border-collapse:collapse;
}
th{
    padding: 3px;
    background: orange;
    text-align: left;
    border: 1px solid black;
}
td{
    padding: 3px;
    text-align: right;
    border: 1px solid black;
}